<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Minitron Admin Menu</title>
</head>
<body>
<div>
    <h1>Minitron Admin Menu</h1>
</div>
<div>
    <div class="userList" th:unless="${#lists.isEmpty(userList)}">

        <h2> Users: </h2>

        <table border="1">
            <thead>
            <tr>
                <th>Email</th>
                <th>Reset Password</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td> <p th:text="${user.email}" /></td>
                <td>
                    <form action="passwdReset" method="post">
                        <input type="hidden" name="userId" th:value="${user.userId}"/>
                        <input type="password" name="passwd" placeholder="Password"/>
                        <input type="submit" value="Reset"/>
                    </form>
                </td>
                <td>
                <form action="deleteUser" method="post">
                    <input type="hidden" name="userId" th:value="${user.userId}"/>
                    <input type="submit" value="Delete"/>
                </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <hr/>
    <div>
        Add a user:<br/>
        <form action="addUser" method="post">
            <input name="email" type="text" placeholder="email"/><br/>
            <input name="passwd" type="password" placeholder="password"/><br/>
            <input type="submit" value="Add User"/><br/>
        </form>
    </div>
</div>
<br/><br/>
<a href="/index.html">Logout.</a>
</body>
</html>
