<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>User Device List</title>
</head>
<body>
<div>
    <h2><p align="center">Minitron User Dashboard</p></h2>
    <p align="center" th:text="'Welcome, ' + ${user.email} + '!'" />
</div>
<hr/>
<div th:if="${not #lists.isEmpty(deviceList)}">
    Known User Devices:  (Click to view details and set messages.)<br/><br/>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Messages</th>
            <th>Delete Device</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device : ${deviceList}">
            <td> <p th:text="${device.deviceName}" /></td>
            <td> <p th:text="${device.deviceCode}" /></td>
            <td>
                <form action="deviceMessages" method="post">
                    <input type="hidden" name="deviceId" th:value="${device.deviceId}"/>
                    <input type="hidden" name="userId" th:value="${user.userId}"/>
                    <input type="submit" value="Show Messages"/>
                </form>
            </td>
            <td>
                <form action="deleteDevice" method="post">
                    <input type="hidden" name="deviceId" th:value="${device.deviceId}"/>
                    <input type="submit" value="Delete Device"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(deviceList)}">
You have no devices defined.
</div>
<br/><br/>
<hr align="center" width="50%"/>
Add a new device below. A device code that you can use in your device will be generated for you.<br/>
<div>
    <form action="addDevice" method="post">
        <input placeholder="Device Name" type="text" name="deviceName" /><br/>
        <input type="hidden" name="userId" th:value="${user.userId}"/>
        <input type="submit" value="Create Device"/>
    </form>
</div>

</body>
</html>


