<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Minitron Manager</title>
</head>
<body>
<h2>Minitron Device Manager</h2>
<hr/>
<br/><br/><br/>
<p style="font-size:36px;color:red;text-align:center;">Invalid Username or Password</p>
<p style="text-align:center;">Please try again.</p>
<div ALIGN="CENTER">
    Please Log In:<br/>
    <form action="/login" method="post">
        <input name="email" placeholder="email"/><br/>
        <input name="passwd" type="password" placeholder="password"/><br/>
        <input type="submit" value="login"/><br/>
    </form>
</div>
<div align="center">Don't have an account? <a href="signup.html">Sign up now.</a></div>
<br><br><br>
<br/><br/><br/>
<hr/>
<br/><br/><br/><br/>
Copyright 2017, Painted Harmony Group, Inc.<br/>
All Rights Reserved.<br/><br/>
<a href="mailto:mporter@paintedharmony.com">Contact Us</a>
</body>
</html>
